
<div class="container">
    <footer class="nav justify-content-center pb-3 mb-3 py-3 my-4 border-top">
      <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
    </footer>
  </div>
  
  <script src="js/index.js"></script>
</body>
</html>