<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Website Name</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="/buyer" class="nav-link">Buyer</a></li>
        <li class="nav-item"><a href="/seller" class="nav-link">Seller</a></li>
      </ul>
      <div class="col-md-3 text-end">
        <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
        <a href="/logout"><button type="button" class="btn btn-primary">Logout</button></a>
      </div>
    </header>
  </div>

  <script>
    const login = document.querySelector('a[href="/login"]')
    const logout = document.querySelector('a[href="/logout"]')
    const buyerA = document.querySelector('a[href="/buyer"]')
    const sellerA = document.querySelector('a[href="/seller"]')

    if(<%= loggedIn %> === true){
      login.style.display = 'none';
      logout.style.display = 'inherit';
    } else {
      logout.style.display = 'none';
      login.style.display = '';
      buyerA.style.display = 'none';
      sellerA.style.display = 'none';
    }

    console.log(`<%= user.kind %>`);

    if (`<%= user.kind %>` === 'seller'){
      buyerA.style.display = 'none';
      sellerA.style.display = '';
    } else if (`<%= user.kind %>` === 'buyer'){
      buyerA.style.display = '';
      sellerA.style.display = 'none';
    }
  </script>