<%- include('partials/header') %>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content=<%= process.env.GOOGLE_CLIENT_ID %>>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

<script>
      function onSignIn(googleUser) {
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success true'){
                signOut();
                location.assign('/register')
            } else if (xhr.responseText == 'success false'){
                signOut();
                location.assign('/profile')
            }
        };
        xhr.send(JSON.stringify({tokenId : id_token}));
      }
    </script>


<%- include('partials/footer') %>